/* Slide from top to bottom */
.slide-down {
    animation: slideDown 1s ease-out forwards;
    opacity: 0;
  }
  
  /* Slide from right to left */
  .slideRightToLeft {
    animation: slideRightToLeft 1s ease-out forwards;
    opacity: 0;
  }
  
  /* Keyframes */
  @keyframes slideDown {
    0% {
      transform: translateY(-2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideRightToLeft {
    0% {
      transform: translateX(2rem);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .slide-down:nth-child(1) { animation-delay: 0s; }
  .slide-down:nth-child(2) { animation-delay: 0.2s; }
  .slide-down:nth-child(3) { animation-delay: 0.4s; }
    