
.stagger-item {
    animation: slidedown 1s ease-out forwards;
    opacity: 0;
  }
  
  .stagger-item:nth-child(1) { animation-delay: 0s; }
  .stagger-item:nth-child(2) { animation-delay: 0.2s; }

  
  
  
  /* Keyframes */
  @keyframes slidedown {
    0% {
      transform: translateY(-2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  


  /* Slide from right to left */
  .slideRightToLeft {
    animation: slideRightToLeft 1s ease-out forwards;
    opacity: 0;
  }
  
  
  
  @keyframes slideRightToLeft {
    0% {
      transform: translateX(2rem);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  

  .slideLeftToRight {
    animation: slideLeftToRight 1s ease-out forwards;
    opacity: 0;
  }
  @keyframes slideLeftToRight {
    0% {
      transform: translateX(-2rem);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  